﻿@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
#header-style {
    background-color: #fbbe18
}
a{
    color: black;
    font-size: large; 
}
a:visited{
    color: white;
}
a:hover{
    color:black
}
#hover:hover{
background-color:black;
color: white;
}
.footer-text{
    font-size: medium;
    font-weight:500;
    color: black;
}
* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1087px) {
    .hover {
        background-color: #fbbe18 !important;
    }
}
    html,
    body {
        height: 100%;
    }

    .wrapper {
        position: relative;
        min-height: 100%;
    }

    .content {
        padding-bottom: 90px;
    }

    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
    }

    .section {
        margin-bottom: 50px;
    }

    .container {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .column.is-offset-2 {
        margin-top: 20px;
    }

    .card {
        height: 100%;
    }

    .soc {
        margin-top: -5px;
        margin-left: 42%;
    }

    .logo-descr {
        letter-spacing: 5px;
        font-weight: 700
    }

        .logo-descr:hover {
            color: black
        }

    .card:hover {
        box-shadow: 1px 1px #fbbe18, 2px 2px #fbbe18, 3px 3px #fbbe18, 4px 4px #fbbe18, 5px 5px #fbbe18, 6px 6px #fbbe18, 7px 7px #fbbe18;
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.08);
    }

    .margin-bottom {
        margin-bottom: 70px;
    }



    .social a {
        text-align: center;
        width: 46px;
        height: 46px;
        float: left;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
        border-radius: 46px;
        margin: 0 10px 10px 0;
        padding: 6px;
        color: #000;
    }


    .instagram a:hover {
        background: #b84592;
        color: #fff;
    }

    .vk a:hover {
        background: #5d84ae;
        color: #fff;
    }


    .linkedin a:hover {
        background: #0e76a8;
        color: #fff;
    }

    .telegram a:hover {
        background: #249bd7;
        color: #fff;
    }
