﻿@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{

}

<div>
    <p class="title" align="center">Корзина</p>
    @foreach (var product in Model)
    {
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="~/images/guitar.jpg" />
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="title">
                        @product.Name
                    </p>
                    <div class="level">
                        <div class="level-item">Количество: @product.Qty</div>
                        <div class="level-item">Цена (1 шт): @product.Value</div>
                        <div class="level-item">Итого: @product.Value*@product.Qty</div>
                    </div>
                </div>
            </div>
        </article>
    }
</div>
