﻿@page
@model LoginModel
@{
}

    <form method="post">
        <div class="field">
            <p class="control">
                <label class="label">Логин</label>
                <input class="input" asp-for="Input.Username" />
            </p>
        </div>
        <div class="field">
            <p class="control">
                <label class="label">Пароль</label>
                <input class="input" asp-for="Input.Password" />
            </p>
        </div>
        <div class="field">
            <button class="button is-success" type="submit" name="name" value="Sign In">Аутентификация</button>
            <button type="submit" name="name" value="Sign In" />
        </div>
    </form>