﻿@page
@model CustomerInformationModel
@{
}
<div class="columns">
    <div class="column is-6">
            <form method="post" class="margin-bottom">
                <div class="field">
                    <p class="control">
                        <label class="label">Имя</label>
                        <input class="input" asp-for="CustomerInformation.FirstName" />
                    </p>
                    <span asp-validation-for="CustomerInformation.FirstName"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Фамилия</label>
                        <input  class="input" asp-for="CustomerInformation.LastName" />
                    </p>
                    <span asp-validation-for="CustomerInformation.LastName"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Номер телефона</label>
                        <input  class="input" asp-for="CustomerInformation.PhoneNumber" />
                    </p>
                    <span asp-validation-for="CustomerInformation.PhoneNumber"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">E-mail</label>
                        <input class="input" asp-for="CustomerInformation.Email" />
                    </p>
                    <span asp-validation-for="CustomerInformation.Email"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Адрес</label>
                        <input  class="input" asp-for="CustomerInformation.AddressOne" />
                    </p>
                    <span asp-validation-for="CustomerInformation.AddressOne"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Дополнительный адрес</label>
                        <input  class="input" asp-for="CustomerInformation.AddressTwo" />
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Город</label>
                        <input  class="input" asp-for="CustomerInformation.City" />
                    </p>
                    <span asp-validation-for="CustomerInformation.City"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Почтовый код</label>
                        <input  class="input" asp-for="CustomerInformation.PostCode" />
                    </p>
                    <span asp-validation-for="CustomerInformation.PostCode"></span>
                </div>
                <div class="field">
                    <button class="button is-success" type="submit">Подтвердить данные</button>
                </div>
            </form>
    </div>
    <div class="column is-6">
        <vc:cart view="Default"></vc:cart>
    </div>
</div>