﻿@inject IAuthorizationService authService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>

    <environment include="Development">
        <link href="~/lib/bulma-0.7.4/css/bulma.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/lib/bulma-0.7.4/css/bulma.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <h3 class="title has-text-centered">Страница администратора</h3>

    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="menu">
                     @if ((await authService.AuthorizeAsync(User, "Manager")).Succeeded)
                     {
                    <p class="menu-label">Меню магазина</p>
                    <ul class="menu-list">
                        <li><a asp-page="/Admin/Index">Товары</a></li>
                        <li><a asp-page="/Admin/OrderManagement">Управление заказами</a></li>
                        <li><a asp-page="/Admin/Stock">Склад</a></li>
                    </ul>
                     }
                    @if((await authService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                    <p class="menu-label">Меню Admin</p>
                    <ul class="menu-list">
                        <li><a asp-page="/Admin/ConfigureUsers">Управление пользователями</a></li> 
                    </ul>
                    }
                    <p class="menu-label"></p>
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Вернуться на главную</a></li>
                    </ul>

                </div>
            </div>
            <div class="column is-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
