﻿@page
@model ConfigureUsersModel
@{
}

<div id="app" class="container">
    <input v-model="username" />
    <button @@click="createUser()">Создать пользователя</button>
</div>



@section scripts{
    <script src="~/js/admin/users.js"></script>
}