﻿@page
@model IndexModel
@{
}

    <div id="app" class="container">
        <div v-if="!editing">
            <button class="button is-success" @@click="newProduct">Добавить продукт</button>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Наименование</th>
                    <th>Цена</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr v-for="(product, index) in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.value}}</td>
                    <td><a @@click="editProduct(product.id, index)">Изменить</a></td>
                    <td><a @@click="deleteProduct(product.id, index)">Удалить</a></td>
                </tr>
            </table>
        </div>

        <div v-else>
            <div class="field">
                <label class="label">Наименование товара</label>
                <div class="control">
                    <input class="input" v-model="productModel.name" />
                </div>
            </div>

            <div class="field">
                <label class="label">Описание товара</label>
                <div class="control">
                    <input class="input" v-model="productModel.description" />
                </div>
            </div>

            <div class="field">
                <label class="label">Стоимость товара</label>
                <div class="control">
                    <input class="input" v-model="productModel.value" />
                </div>
            </div>

            <button class="button is-success" @@click="createProduct" v-if="!productModel.id">Создать товар</button>
            <button class="button is-warning" @@click="updateProduct" v-else>Обновить товар</button>
            <button class="button" @@click="cancel">Отмена</button>
        </div>
    </div>
       


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/admin/products.js"></script>
}
