﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Якубёнок-Shop</title>
    <link rel="stylesheet" href="~/css/stylepagecss.css" type="text/css" />


    <environment include="Development">
        <link href="~/lib/bulma-0.7.4/css/bulma.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment include="Production">
        <link href="~/lib/bulma-0.7.4/css/bulma.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <nav class="navbar" id="header-style" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" asp-page="Index">
                            <img src="~/images/logo.png" width="40">
                            <p class="logo-descr">Viktory</p>
                        </a>

                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="navbar-item" id="hover" asp-page="/Admin/Index">
                                    Admin
                                </a>
                            }
                        </div>

                        <div class="navbar-end">
                            <vc:cart view="Small"></vc:cart>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="navbar-item" id="hover" asp-controller="Account" asp-action="Logout">Выход</a>
                            }
                        </div>
                    </div>
                </div>
            </nav>


            <partial name="_CookieConsentPartial" />

            <div class="container body-content">
                @RenderBody()
            </div>
        </div>

        <div class="footer">
            <footer class="footer" id="header-style">
                <div class="content has-text-centered">
                    <p class="footer-text">
                        Все права этого мини-пробного магазинчика защищены Якубёнок Викторией:)
                    </p>
                    <a asp-page="/Admin/Index" class="admin-href">Admin Login</a>
                </div>
            </footer>
        </div>

        <div class="soc">
            <div class="social vk">
                <a href="https://vk.com/viktoria_jakubyonok" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
            </div>
            <div class="social linkedin">
                <a href="https://www.linkedin.com/in/viktoria-jakubyonok-88319117a/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>
            <div class="social instagram">
                <a href="https://www.instagram.com/viktoriagimhim/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            </div>
            <div class="social telegram">
                <a href="https://t.me/jakubyonok_viktoria" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
            </div>
        </div>

        <environment include="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">


            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
