﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 
<div class="section">
    <div>
        <div class="columns is-multiline is-mobile">
            @{
                foreach (var p in Model.Products)
                {
                    <div class="column is-3-desktop is-4-tablet is-6-mobile">
                          <a asp-page="Product" asp-route-name="@p.Name.Replace(" ","-")">
                            <div class="card">
                             <div class="card-image">
                              <figure class="image is-4by3">
                                  <img src="~/images/guitar.jpg" />
                              </figure>
                             </div>
                             <div class="card-content">
                                 @{
                                     string cssClass = "";
                                     string message = "";

                                     if (p.StockCount == 0)
                                     {
                                         cssClass = "is-danger";
                                         message = "Товар отсутствует на складе";
                                     }
                                     else if (p.StockCount <= 5)
                                     {
                                         cssClass = "is-warning";
                                         message = "Последний товар";
                                     }
                                 }
                                 @if (p.StockCount <= 5)
                                 {
                                     <div class="notification is-paddingless has-text-centered @cssClass">
                                         @message
                                     </div>
                                 }
                                 <p class="title is-size-5">
                                     @p.Name @p.Value
                                 </p>
                                 <p class="subtitle">
                                     @p.Description
                                 </p>

                             </div>   
                            </div>
                          </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
