﻿@page "{name}"
@model ProductModel
@{
}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <figure class="image">
                        <img src="~/images/guitar.jpg" />
                    </figure>
                </div>
                <div class="column is-6">
                    <section class="content">
                        <p class="title">@Model.Product.Name</p>
                        <p class="subtitle">@Model.Product.Description</p>
                        <p>
                            Вы видите пробную версию варианта отображения товара на сайте. Здесь показан одинаковый товар, но общий функционал впринципе понятен. Спасибо, за внимание!
                        </p>
                        <footer>
                            <form method="post">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Модель</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select asp-for="CartViewModel.StockId" onchange="toggleStock(event)">
                                                        @foreach (var stock in Model.Product.Stock)
                                                        {
                                                            bool disabled = stock.Qty <= 0;
                                                            <option value="@stock.Id" disabled="@disabled">@stock.Description</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Количество</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                    <input class="input" asp-for="CartViewModel.Qty" value="1" />
                                            </div>
                                            @foreach(var stock in Model.Product.Stock)
                                            {
                                                if (stock.Qty <= 5)
                                                {
                                                <p class="help is-danger is-hidden low-stock" id="low-stock-@stock.Id">
                                                    @(stock.Qty==0 ? "На складе осталось" : $"На складе осталось {stock.Qty} товаров")
                                                </p>
                                                }
                                            }
                                            </div>
                                        </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <button class="button is-success" type="submit">Отправить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var toggleStock = function (e) {
        console.log(e);

        var stockToHide = document.querySelectorAll('.low-stock')

        stockToHide.forEach(function (e) {
            e.classList.add('is-hidden');
        })
        showLowStock(e.target.value);
    }

    var showLowStock = function (id) {
        var stockToShow = document.getElementById('low-stock-' + id);

        if (stockToShow !== null && stockToShow !== undefined)
            stockToShow.classList.remove('is-hidden');
    }

    showLowStock(document.getElementById('CartViewModel_StockId').value);

</script>